* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    p {
        color: white;
    }
    
}

img {
    max-height:350px;
    width: 294px;
    cursor: pointer;
    padding: 50px;
    transition: 0.5s;
    filter: drop-shadow(15px 10px 7px rgb(180, 176, 176));
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
   }

.hover-class {
    &:hover {
        filter: drop-shadow(10px 10px 7px white);
        animation: horizontal-shaking 0.2s;
        animation-iteration-count: infinite;
    }
}   

.button-container {
    height: 70px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    p {
        font-size: 32px;
        padding: 12px;
        font-weight: 700;
    }

}

.options {
    display: flex;
    gap: 32px;
    border: 8px solid white;

}

.border {
    border: 8px solid #f4f24f;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
   
}

.play-button{

    cursor: pointer;
    font-size: large;
    background-color: #f4f24f;
}

.text-div {
    font-size: 32px;
    p {
        font-weight: 700;
        padding: 12px;
        border-radius: 12px;
    }
}

.rounds-text {
    color: white;
    border-radius: 12px;
}

.score-text {
    background: rgb(2,5,75);
    background: linear-gradient(90deg, rgba(2,5,75,1) 30%, rgba(124,3,5,1) 52%);
    border-radius: 12px;
}


.restart-button-div {
    display: flex;
    justify-content: center;
}